.textA {
    resize: none;
}

#switchBtn {
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count:infinite;
  }

  @keyframes example {
    0%   {background-color: red;}
    25%  {background-color: black;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
  .bor {
    border-style:double;
  }